@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Titan+One&display=swap");

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1e293b;
  line-height: 1.4;
}

div {
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
  color: #64748B;
  text-decoration: underline;
}

.logo {
  font-family: 'Titan One', sans-serif;
  font-size: 24px;
}

.active-filter {
  background-color: #94a3b8;
}

.clamp {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  min-height: 45px;
}

button:disabled,
button[disabled] {
  background-color: #94a3b8;
}

@layer base {
  .heading-1 {
    @apply font-bold text-7xl uppercase;
  }

  .heading-3 {
    @apply font-bold text-3xl uppercase;
  }

  .heading-2 {
    @apply w-max mx-auto pb-4 mt-4 font-bold text-3xl md:text-4xl border-solid border-b-4 border-slate-400;
  }

  .buttonLink {
    @apply bg-slate-500 text-slate-100 mx-auto rounded-md hover:bg-slate-400;
  }
}
